.dashboard-container {
  text-align: center;
  padding: 20px;
}

.dashboard-container h1 {
  color: #8a2be2; /* Purple */
  font-size: 2.5rem;
}

.dashboard-container p {
  font-size: 1.2rem;
  color: #333;
}

.dashboard-buttons {
  margin-top: 20px;
}

.dashboard-buttons .btn-secondary {
  margin: 10px;
}
